/* ModalComponent.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    color: black;
    border: solid;
    padding:  4rem 1rem 1rem 1rem;

    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
  }

  .closebtn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
  